<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        tr
  {
    background-color:rgb(173, 173, 194);
    color:rgb(37, 60, 163);
  }
  th
  {
    background-color:rgb(170, 170, 184);
    color:rgb(70, 88, 194);
  }
    </style>
</head>
<body>
    <table class="table">

        <thead>
            <tr>
                <th>Theater Id</th>
                <th>Theater Name</th>
                <th>Theater City</th>
                <th>Manager Name</th>
                <th>Manager Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let p of theaterList">
                <td>
                    {{p.theaterId}}
                </td>
                <td>{{p.theaterName}}</td>
                <td>{{p.theaterCity}}</td>
                <td>{{p.managerName}}</td>
                <td>{{p.managerContact}}</td>
            </tr>
        </tbody>
    
    
    
    </table>
    <div class="container1">
    
        <article class="card-body mx-auto" style="max-width: 400px;">
        <form (submit)="back()">
    
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Back
                </button>
            </div>
        </form>
        </article>
    </div>
    
</body>
</html>